<h1>Chat Room</h1>
<input type="text", class="chat-input">
<button class="button">送信</button>
<div class="messages">
    <ol>
        <% @messages.each do |message| %>
                <%= render "message", message: message %>
        <% end %>
    </ol>
</div>