<div id="top_back_image">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="notice"><%= notice %></div>
        <div id="top_back">
          <div class="top_title">Welcome to SESSION</div>
          <div class="top_body">
            <div>SESSIONはバンドメンバーを募集するためのアプリです。</div>
            <div>あなたの条件にあったバンドマンを検索して、バンドに勧誘しましょう!</div>
          </div>
          <%= link_to users_path do %>
            <div class="first_action">
              <div>バンドマンを</div>
              <div>検索する</div>
            </div>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <div class="first_action">
              <div>SESSIONに</div>
              <div>登録する</div>
            </div>
          <% end %>
          <div id="about_move" class="first_action">
            <div>SESSIONを</div>
            <div>もっと知る</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="top_back_white">
        <div class="about">
          <div class="about_title">SESSIONとは？</div>
          <div class="col-xs-12">
            <div class="about_box_first">
              <div class="about_box_back">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                  <div class="about_head">
                    <div>複数の条件から</div>
                    <div>バンドマンを検索できる！</div>
                  </div>
                  <div class="about_body">
                    <div>楽器や地域等の情報の他、プレイレベルからも</div>
                    <div>バンドマンを検索することができます。</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about_box_second">
              <div class="about_box_back">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                  <div class="about_head">
                    <div>チャットで</div>
                    <div>メンバーを勧誘できる！</div>
                  </div>
                  <div class="about_body">
                    <div>会員登録をすることで、</div>
                    <div>検索したバンドマンとチャットをすることができます。</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about_box_third">
              <div class="about_box_back">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                  <div class="about_head">
                    <div>自分の要望にあった</div>
                    <div>メンバーを募集できる！</div>
                  </div>
                  <div class="about_body">
                    <div>会員登録をすることで、</div>
                    <div>プロフィールを基にバンドメンバーを募集できます。</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="about_botton">SESSIONを利用する</div>
        </div>
      </div>
    </div>
  </div>
</div>