<div id="top_back_image">
    <div class="row">
        <div id="top_back">
            <div class="top_title">
                Welcome to SESSION
            </div>
            <div class="top_body">
                SESSIONはバンドメンバーを募集するためのアプリです。
            </div>
            <div class="top_body">
                あなたの条件にあったバンドマンを検索して、バンドに勧誘しましょう!
            </div>
            <%= link_to users_path do %>
                <div class="first_action">
                    <div>バンドマンを</div><div>検索する</div>
                </div>
            <% end %>
            <%= link_to new_user_registration_path do %>
                <div class="first_action">
                    <div>SESSIONに</div><div>登録する</div>
                </div>
            <% end %>
            <%= link_to about_path do %>
                <div class="first_action">
                    <div>SESSIONを</div><div>もっと知る</div>
                </div>
            <% end %>
        </div>
    </div>
</div>