<div class="row">
    <div class="col-xs-12">
        <h1>Chat Room</h1>
        <input type="text", class="chat-input", autofocus>
        <button class="button">送信</button>

        <%= render 'message' %>

        <input type="hidden" id="room_id" value="<%= @room_id %>">
    </div>
</div>