// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top_back_image{
    // height: 670px;
    height: 600px;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

#top_back{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-position: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0px  0px 8px black;
    padding: 40px 0 20px 0;
}

.top_title{
    font-size: 65px;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

.top_body{
    font-size: 17px;
}

.first_action{
    border: solid 1px black;
    border-radius: 10px;
    width: 30%;
    height: 180px;
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 60px;
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px  0px 8px black;
    color: rgba(50, 50, 50, 1);
}
.first_action:hover{
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}

.top_back_white{
    padding: 20px;
    width: 100%;
    min-height: 1200px;
    background-color: white;
}

.about{
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.about_box{
    width: 100%;
    height: 300px;
    background-color: lightcyan;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px  0px 8px gray;
    margin-bottom: 20px;
}

.about_title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: gray;
    text-align: center;
}

.about_head{
    margin-top: 60px;
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.about_body{
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}