/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap"; 

#body{
    padding-top: 70px;
}

body{
    background-color: whitesmoke;
}

.session{
     font-size: 35px;
     color: white;
 }

 .session:hover{
     color: gray;
 }

 .navbar{
     margin-bottom: 0;
     border-radius: 0;
     border: none;
     background-color: rgba(0, 0, 0, 1);
 }

.current_user_back{
    background-image: url(current_user.jpg);
    background-size: cover;
    background-position: center;
}

 .current_user{
    text-align: left;
    background-color: rgba(0, 255, 255, 0.4);
    color: lightgray;
 }

.nav{
    font-size: 15px;
    color: white;
}

.back{
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.registration{
    background-color: whitesmoke;
    border: solid 1px black;
    padding-left: 35px;
}

.show{
    width: 150px;
}

td{
    text-align: left;
}

.balloon, .balloon_right{
    display: inline-block;
    min-width: 5%;
    max-width: 50%;
    border-radius: 10px;
    border: solid 1px gray;
    box-shadow: 0px  0px 8px lightgray;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #FFFFDD;
    word-break: break-all;
    margin-bottom: 19px;
}

.balloon_right{
    border: solid 1px gray;
    background-color: #e5f8fd;
    margin-right: 40px;
}

.receive_balloon, .receive_balloon_right{
    display: inline-block;
    min-width: 5%;
    max-width: 50%;
    border-radius: 10px;
    border: solid 1px gray;
    box-shadow: 0px  0px 8px lightgray;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #FFFFDD;
    word-break: break-all;
    margin-bottom: 19px;
}

.receive_balloon_right{
    border: solid 1px gray;
    background-color: #e5f8fd;
    margin-right: 40px;
}

.new_message{
    border-radius: 10px;
    border: solid 1px lightgray;
    padding: 5px 20px;
    font-size: 15px;
    background-color: lightyellow;
    color: black;
}

ul{
    padding: 0;
    list-style: none;
}

.attachment{
    border-radius: 50px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.page{
    border: solid 1px black;
    background-color: whitesmoke;
    margin: 0 3px;
    text-align: center;
}

.page_number{
    border: solid 1px black;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    margin: 0 3px;
    text-align: center;
}

.pagination{
    margin: 5px;
    display: block;
    text-align: center;
}

.time{
    font-size: 5px;
    color: gray;
}

#preview{
    max-width: 70%;
    max-height: auto;
    border-radius: 50px;
}

.float_window{
    width: 100%;
    margin: 20px 0;
    padding:20px 40px 20px 40px;
    background-color:white;
    box-shadow: 0px  0px 8px black;
    border-radius: 10px;
}

.back_white{
    padding: 20px;
    width: 100%;
    min-height: 700px;
    background-color: white;
}

.back_gray{
    background-color: whitesmoke;
    width: 100%;
    min-height: 700px;
}

a:hover{
    text-decoration: none;
}

#page_top{
    position: fixed;
    bottom: 0px;
    right: 20px;
    color: gray;
    font-size: 28px;
}

#page_top:hover{
    color: green;
    font-size: 30px;
}

.index_white_back{
    width: 100%;
    min-height: 700px;
    background-color: white;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.error_title{
    font-size: 30px;
    color: red;
}

.error_body{
    color: red;
}

.follow_icon{
    color: #FF66FF;
    font-size: 25px;
    top: 7px;
}

.follow_icon:hover{
    color: rgb(250, 148, 250);
}

.notice{
  // color: #5bc0de;
  color: white;
  text-align: center;
  font-size: 17px;
  background-color: green;
  border-radius: 10px;
  border: gray;
}