/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap"; 

//  header{
//     position: fixed;
//     width: 100%;
//     top: 0px;
//  }

.session{
     font-size: 35px;
     color: white;
 }

 .navbar{
     margin-bottom: 0;
     border-radius: 0;
     border: none;
    //  background: linear-gradient(90deg, black, rgba(255, 255, 0, 0.747), black, black, black, black, black)
     background-color: rgba(0, 0, 0, 1);
    //  background-image: url(background.jpg);
    //  background-size: cover;
 }

 .current_user{
     text-align: left;
     background-color: lightblue;
     color: black;
    //  margin-bottom: 20px;
    //  background: linear-gradient(90deg, black, rgba(255, 255, 0, 0.747), black, black, black, black, black)
 }

.nav{
    font-size: 15px;
    color: white;
}

body{
    // background-color: #FFD700;
    background-color: whitesmoke;
    //  background-image: url(back.jpg);
    //  background-position: top;
    //  background-size: cover;
}

.back{
    background-color: rgba(0, 0, 0, 0.1);
    // width: 100%;
    // background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.registration{
    background-color: whitesmoke;
    border: solid 1px black;
    padding-left: 35px;
}

.show{
    width: 150px;
}

td{
    text-align: left;
}

#balloon{
    border-radius: 10px;
    box-shadow: 0px  0px 8px gray;
    padding: 5px 20px;
    font-size: 15px;
    background-color: lightyellow;
}

#new_message{
    border-radius: 10px;
    // box-shadow: 0px  0px 8px gray;
    border: solid 1px lightgray;
    padding: 5px 20px;
    font-size: 15px;
    background-color: lightyellow;
}

.sent_message{
    margin: 5px 0;
}

.receive_message{
    margin: 5px 0 5px 200px;
    // margin: 5px ;
}

ul{
    padding: 0;
    list-style: none;
}

.attachment{
    border-radius: 50px;
}

.page{
    border: solid 1px black;
    background-color: whitesmoke;
    margin: 0 3px;
    text-align: center;
}

.page_number{
    border: solid 1px black;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    margin: 0 3px;
    text-align: center;
}

.pagination{
    margin: 5px;
    display: block;
    text-align: center;
}

.page_count{
    display: block;
    text-align: center;
    color: darkslategrey;
    margin-bottom: 20px;
}

.time{
    font-size: 5px;
}

#preview{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.today_message{
    width: 100%;
    margin-top: 20px;
    padding:20px 40px 20px 40px;
    background-color:white;
    box-shadow: 0px  0px 8px black;
    border-radius: 10px;
}
